body{
    background-color: rgb(1, 22, 22);
}
.container{
    width: 360px;
    padding: 3px;
    text-align: center;
    background-color: aliceblue;
   margin-left: 33%;
   margin-top: 5px;
    font-family: "Dancing Script", cursive;
}
input{
    width: 270px;
    padding: 8px;
    border: 2px solid rgb(62, 177, 177);
    outline: none;
    font-size: 19px;
}

button{
    width: 60px;
    height: 41px;
    background-color:rgb(1, 28, 28);
    color: aliceblue;
    border-radius: 2px;
    cursor: pointer;
    font-size: 19px;
    border: none;
    outline: none;
}
.text ul{
    position: relative;
    background-color: rgb(1, 28, 28);
    color: white;
    padding: 7px 40px 7px 10px;
   font-size: 19px;
   text-align: left;
}
.text ul i{
    position:absolute;
    right: 10px;
    cursor: pointer;
}